.leaderboard * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.leaderboard{
    max-width: 25rem;
    margin: 5rem auto;
    border-radius: 1rem;
    box-shadow: 2px 2px 6px #111;
    font-family: fantasy;
}

.leaderboard header{
    background-color: rgb(245, 182, 182);
    background: linear-gradient(
        to bottom,
        transparent,
        transparent 10%,
        rgba(22, 22, 22, 0.5)
    );
    color: rgb(11, 12, 1);
    text-transform: uppercase;
    text-align: left;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 15rem;
    position: relative;
}

.leaderboard h1{
    font-size: 3rem;
    line-height: 3rem;
    position: absolute;
    margin-left: 2.15rem;
    top: 4rem;
}

.leaderboard img{
    height: 10rem;
    position: absolute;
    bottom: 0;
    right: 1rem;
    
}

.leaderboard table{
    background-color: grey;
    color: rgb(197, 197, 197);
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.leaderboard thead{
    font-size: 0.75rem;
    color: rgb(15, 2, 2);
}
.leaderboard thead tr{
    background-color: rgb(204, 101, 101);
}

.leaderboard tbody .username {
    color: rgb(33, 71, 104);
    font-weight: bold;
}

.leaderboard tbody tr:nth-child(2n) {
    background-color: rgb(204, 101, 101);
}

.username{
    text-align: left;
}

.rank{
    width: 4ch;
}

.rank, .mmr, .winstreak {
    text-align: right;
}

.mmr, .winstreak{
    width: 8ch;
}

.leaderboard th{
    padding: .5rem 1rem;
}

.leaderboard td{
    padding: .5rem 1rem;
}
