[data-theme="light"] {
    --lobby-background: rgb(204, 99,0, .2);
    --lobby-box: azure;
    --lobby-table: rgba(45, 58, 231, 0.178);
    --lobby-button: #EFEFEF;
  }
  
  [data-theme="dark"] {
    --lobby-background: #72268e;
    --lobby-box: rgb(69, 60, 143);
    --lobby-table: rgb(36, 100, 156);
    --lobby-button: rgb(36, 100, 156);
  }

h1{
    text-align: center;
}

h3 {
    text-align: center;
}

#lobbycontainer{
    height: auto;
    width:100vw;
    padding-top: 2rem;
}

#lobby{
    display: flex;
    align-content: center;
}

#leaderboard{
    float: left;
    border-style: solid;
    margin: auto;
    border-radius: 1rem;
    height: 30rem;
    width: 15%;
    background-color: var(--lobby-box);
    padding: 2rem;
}

#playerBoard{
    height: 35rem;
    width: 40%;
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    /* align-content: center;     */
}

#selection-buttons {
    display:flex;
    margin-bottom: 2rem;
}

.table-button {
    padding: 1rem 4rem 1rem 4rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#tablediv{
    border-radius: 1rem;
    box-shadow: 2px 2px 6px #111;
    /* width: 80%; */
    /* margin: 0 10% 0 10%; */
    height: 100%;
    background-color: rgba(45, 58, 231, 0.178);
    overflow: auto;
}

#rules{
    border-style: solid;
    margin: auto;
    border-radius: 1rem;
    height: 30rem;
    width: 15%;
    background-color: var(--lobby-box);
    padding: 2rem;
    visibility: hidden;
}

#lobby{
    background-color: var(--lobby-background);
}
