.rulescontainer{
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    user-select: none;
    
}
.titleRules h1{
    width: 65rem;
    height: 10rem;
    margin: auto;
    display: flex;
    margin-right: 450px;
    font-family:Bookworm;
    font-size: 6rem;
    color: skyblue;
    font-weight:bolder;
    -webkit-text-stroke: .01rem black;
}

.titleRules h2{
    width: 65rem;
    /* height: 10rem; */
    margin: auto;
    display: flex;
    margin-right: 450px;
    font-family:Bookworm;
    font-size: 3rem;
    color: skyblue;
    font-weight:bolder;
    -webkit-text-stroke: .01rem black;
}

.titleRules ul{
    width: 60rem;
    /* height: 10rem; */
    font-size: 2rem;
    color: rgb(33, 98, 124);
    margin: auto;
    
}

.titleRules p{
    width: 60rem;
    /* height: 10rem; */
    font-size: 2rem;
    color: rgb(33, 98, 124);
    margin: auto;
    
}